.step {
    border: 1px solid black;
    border-right: none;
    margin: 0px;
    cursor: pointer;
  }
  
  .step:last-child {
     border-right: 1px solid black;
  }

  .row > .step {
    border-bottom: none;
  }
  

  .clicked {
    background-color: rgb(148, 148, 148);
  }

  .current_step {
    border-left: 3px solid black;
  }

  .row:last-child {
    border-bottom: 1px solid black;
  }

