.step {
    border: 1px solid black;
    border-right: none;
    margin: 0px;
    cursor: pointer;
    background-color: #FEFEFE;
    font-size: 16px;
  }
  
  .step:last-child {
     border-right: 1px solid black;
  }

  .row > .step {
    border-bottom: none;
  }
  

  .clicked {
    background-color: #6F7C94;
  }

  .current_step {
    border-left: 3px solid #2B2F38;
    
  }

  .row:last-child {
    border-bottom: 1px solid black;
  }

  @media all and (max-width: 373px) {
    .step {
        font-size: smaller;
        padding: 1.5px 0px; 
    }

    .row:last-child > .step {
      border-bottom: 1px solid black;
    }
  }

