.TransportSliders {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 60%; 
    background: #6F7C94; 
    height: 8px;
    border: 1px solid #2B2F38;
    margin: 5px;
    box-shadow: .2px .2px 1px #6F7C94 ;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
  
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius:0px;
    background: #C9D6DF;
    cursor: pointer;
    margin-top: 0px; 
    box-shadow: .2px .2px 1px #6F7C94 ;
  }
  
  /* All the same stuff for Firefox */
  input[type=range]::-moz-range-thumb {
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius:0px;
    background: #C9D6DF;
    cursor: pointer;
    margin-top: 0px; 
    box-shadow: .2px .2px 1px #6F7C94 ;
  }
  
  /* All the same stuff for IE */
  input[type=range]::-ms-thumb {
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius:0px;
    background: #C9D6DF;
    cursor: pointer;
    margin-top: 0px; 
    box-shadow: .2px .2px 1px #6F7C94 ;
  }
