.Sequencer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Sequencer_display {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 20px 0px 0px 0px;
}

.Sequencer_channel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Sequencer_channel > label {
    margin-right: 10px;
}

@media all and (max-width: 373px) {
    .Sequencer_channel > label {
        margin-right: 5px;
        
    }
  }
