.StepTracker {
    margin-left: 52px;
}

.tracker {
    font-size: smaller;
    padding-right: 60px;
}

.second {
    margin-left: 12px;
}

.third {
    margin-left: 12px;
}

.fourth {
    margin-left: 12px;
}



@media all and (max-width: 360px) {
    .StepTracker {
        margin-left: 48px;
    }
    
    .tracker {
        font-size: smaller;
        padding-right:52px;
    }
    
    .second {
        margin-left: 10px;
    }
    
    .third {
        margin-left: 8px;
    }

    .fourth {
        margin-left: 4px;
    }
  }