.PatternSelect {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.PatternSelect > label {
    align-self: center;
    margin-right: 5px;
}

.PatternSelect_button {
    margin-left: 5px;
    margin-right: 0px;
}

@media all and (max-width: 330px) {
    .PatternSelect {
        flex-direction: column; 
        max-width: 150px;
        align-self: center;
        margin-top: 5px;
    }

    .PatternSelect > label {
        margin-bottom: 3px;
    }

    .PatternSelect_button {
        max-width: 100px;
        align-self: center;
        margin-top: 5px;
    }
  }